/* SPDX-License-Identifier: UNLICENSED 
/* Copyright © 2019 Annorum Viktor Danov. All rights reserved.  */

.notification-wrapper {
  position: fixed;
  bottom: $margin-small;
  left: $margin-large;
  width: 20rem;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000000;
}
.notification {
  @supports (backdrop-filter: blur(0)) {
    backdrop-filter: blur(1rem);
  }

  &.type-0 {
    .label {
      font-weight: bolder;
      color: darken($color: $color-success, $amount: 20);
    }
    .message {
      color: darken($color: $color-success, $amount: 20);
    }
    background: transparentize($color: $color-success, $amount: 0.65);
  }
  &.type-1 {
    .label {
      font-weight: bolder;
      color: darken($color: $color-info, $amount: 35);
    }
    .message {
      color: darken($color: $color-info, $amount: 30);
    }
    background: transparentize($color: $color-info, $amount: 0.65);
  }
  &.type-2 {
    .label {
      font-weight: bolder;
      color: lighten($color: $color-warning, $amount: 6);
    }
    .message {
      color: lighten($color: $color-warning, $amount: 2);
    }
    background: transparentize($color: $color-warning, $amount: 0.65);
  }
  &.type-3 {
    .label {
      font-weight: bolder;
      color: lighten($color: $color-error, $amount: 12);
    }
    .message {
      color: lighten($color: $color-error, $amount: 10);
    }
    color: white !important;
    background: transparentize($color: $color-error, $amount: 0.65);
  }
  &.type-4 {
    .label {
      font-weight: bolder;
      color: darken($color: $color-debug, $amount: 0.35);
    }
    .message {
      color: lighten($color: $color-white, $amount: 0.35);
    }
    background: transparentize($color: $color-debug, $amount: 0.65);
  }
  @supports not (backdrop-filter: blur(0)) {
    &.type-0 {
      background: transparentize($color: darken($color-success, 25%), $amount: 0.1);
    }
    &.type-1 {
      background: transparentize($color: darken($color-info, 25%), $amount: 0.1);
    }
    &.type-2 {
      background: transparentize($color: darken($color-warning, 25%), $amount: 0.1);
    }
    &.type-3 {
      background: transparentize($color: darken($color-error, 25%), $amount: 0.1);
    }
    &.type-4 {
      background: transparentize($color: darken($color-debug, 25%), $amount: 0.1);
    }
  }

  .label,
  .message {
    @include font-body;
    font-weight: 400;
  }
  .label {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  .message {
    font-size: 14px;
    letter-spacing: 0.025em;
  }
  transition: $time-short all;
  margin: $margin-normal 0;
  padding: $margin-normal;
  border-radius: $border-radius-normal / 1.5;
}
.n-enter,
.n-exit-active {
  opacity: 0;
  transform: translateY(1rem);
  transition-timing-function: $easing-accelerate;
}
.n-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition-timing-function: $easing-decelerate;
}
