.login {
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  background: url('~assets/logo-background.svg'), url('~assets/logo-background-2.svg');
  background-repeat: no-repeat;
  background-position: bottom left 10vw, top 3rem right 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    height: 100%;
    width: 25rem;
    height: auto;
    position: relative;

    
    .footerText {
      @include font-body;
      margin-top: $margin-large;
      text-align: center;
    }

    .input:not(:last-of-type) {
      margin-bottom: $margin-normal;
    }
  }
}

.loginForm, .signUpForm {
  width: 95%;
  margin: 0 2.5%;
  margin-top: $margin-large;
}

.right {
  float: right;
}

.databaseIcon {
  position: absolute;
  top: $margin-large;
  right: $margin-large;
  padding: 16px;
  border-radius: 64px;
  stroke: $color-secondary-dark;
  cursor: pointer;
  @include background-color-blur(
    transparentize($color-secondary, 0.65),
    transparentize($color-secondary, 0.45),
    $time-short,
    1rem
  );
}