$pagePaddingVert: $margin-medium;
$pagePaddingHor: $margin-large;

.studentPanel {
  width: 100%;
  height: 100vh;
  background: $color-white;
  background: url('~assets/logo-background-colored.svg');
  background-repeat: no-repeat;
  background-position: bottom left 10vw;
  padding: $pagePaddingVert $pagePaddingHor;
  padding-bottom: 0;

  $headerHeight: 5.5rem;
  $headerMarginBottom: $margin-large * 2;
  header {
    display: flex;
    height: $headerHeight;
    justify-content: space-between;
    margin-bottom: $headerMarginBottom;
    .menu {
      margin-right: 2rem;
    }
    .right {
      display: flex;
      align-items: center;
    }
  }

  .subpage {
    height: calc(100vh - #{$headerHeight + $headerMarginBottom + $pagePaddingVert});
  }
}
