.header {
  h1 span {
    margin: 0 $margin-normal;
    opacity: 0.25;
    color: $color-accent-faded;
  }
  .button {
    &:nth-child(2) {
      margin-left: $margin-normal;
      @include background-color-blur(
        transparentize($color-info, 0.85),
        transparentize($color-info, 0.65),
        $time-short,
        1rem
      );
      color: darken($color-info, 20);
    }
  }
}

.wrapper {
  width: 75%;
}
.postsWrapper {
  padding: 0.5rem;
  padding-bottom: $margin-large;
  max-height: 100%;
  overflow-y: scroll;
}
.postCard {
  margin-bottom: $margin-medium;
}
