@import url(_reset.scss);

:root {
  font-size: 16px;
  overflow: hidden;
}
*{
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}