.button {
  height: 3rem;
  padding: $margin-normal $margin-large;
  border: none;
  border-radius: $border-radius-large;
  color: $color-secondary-dark;
  @include font-label;
  font-size: 14px;
  font-weight: 600;

  @include background-color-blur(
    transparentize($color-secondary, 0.8),
    transparentize($color-secondary, 0.65),
    $time-shortest,
    1rem
  );
  * {
    user-select: none;
  }
}
