$inputHeight: 2rem;

.iconTextButton {
  width: 100%;
  height: $inputHeight;
  position: absolute;
  .icon {
    position: absolute;
    top: calc(#{$inputHeight/2} - 24px);
    left: $margin-medium;
    size: 24px;
    width: 24px;
    height: 24px;
    z-index: 1;
    cursor: pointer;
  }
  label {
    position: absolute;
    left: 60px;
    top: calc(#{$inputHeight/2} - 18px);
    @include font-label;
    width: 100%;
    display: block;
    margin-bottom: $margin-large;
    font-size: 16px;
    color: $color-accent;
    cursor: pointer;
  }
}
