.personBadge {
  user-select: none;

  .letterCircle {
    &.smallCircle {
      width: 48px;
      height: 48px;
      @include font-title;
    }
    width: 64px;
    height: 64px;
    border-radius: 32px;
    @include font-title-big;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
  }
  .profileInfo {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    p {
      float: none;
      line-height: 24px;
      text-align: right;
    }

    p:nth-child(2) {
      @include font-label;
      color: $color-accent-faded;
      opacity: 0.5;
    }
  }
  p {
    float: left;
    line-height: 48px;
    padding: 0 $margin-normal;
  }
  .badge {
    float: left;
    border-radius: 0 32px 32px 0;
    position: relative;
    left: -32px;
    padding-left: 32px + 16px;
    padding-right: 24px;
    height: 64px;
    @include font-body;
    font-weight: 400;
    line-height: 64px;
  }
}
