.personBadge {
  &:hover {
    .letterCircle {
      background-color: $color-black !important;
      color: $color-white;
    }
    .badge {
      background-color: transparentize($color: $color-black, $amount: 0.45) !important;
      color: #fff;
    }
  }
  
  .letterCircle,
  .badge {
    transition: background-color $time-normal $easing-swift-out, color $time-normal ease;
  }

  position: relative;
  display: inline-block;
  height: 64px;

  user-select: none;

  .letterCircle {
    &.smallCircle {
      width: 48px;
      height: 48px;
      @include font-title;
    }
    width: 64px;
    height: 64px;
    border-radius: 32px;

    @include font-title-big;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    z-index: 1;
  }
  .profileInfo {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    p {
      float: none;
      line-height: 24px;
      text-align: right;
    }

    p:nth-child(2) {
      @include font-label;
      color: $color-accent-faded;
      opacity: 0.5;
    }
  }
  p {
    float: left;
    line-height: 48px;
    padding: 0 $margin-normal;
  }
  .badge {
    position: relative;
    display: inline-block;
    left: -31px;
    height: 64px;
    padding-left: 32px + 16px;
    padding-right: 24px;
    border-radius: 0 32px 32px 0;
    backdrop-filter: blur(1rem);
    @include font-body;
    font-weight: 400;
    line-height: 64px;
  }
}
